{% extends "base.html"%}

{% block head_title %} {{block.super}} {% endblock head_title %}

{% load staticfiles %}

{% block content %}
<h1>
	{{ titulo }}
</h1>
{% for objeto in lista %}
<div class="col-sm-6">
	<div class="thumbnail">
		{% if objeto.capa %}
		<img src="{{objeto.capa.url }}" alt=" " class="img-responsive" width="100%" height="">
		{% endif %}
		<div class="caption">
			<a href="\posts/{{objeto.slug}}/">
				<h5 class="card-title">
					{{objeto.titulo}}
				</h5>
			</a>
			<p class="content-markdown">{{objeto.conteudo|truncatechars:80}}</p>
		</div>
		<div class="card-footer">
			<small class="text-muted">
				autor: {{objeto.autor}} Ultima atualização há
				{{objeto.atualizado|timesince}}
			</small>
		</div>
		<br>
	</div>
</div>
{% endfor %}

{% include "utils/page_navigator.html" %}

{% endblock content %}