{% extends "base.html"%}
{% block head_title %} {{block.super}} {% endblock head_title %}

{% block content %}
<div class="col-sm-offset-1">
	<h1 id="titulo">
		{{ titulo }}
	</h1>
	<h5 id="sub_titulo">
		{{ objeto.sub_titulo }}
	</h5>
	<small>
		Autor: {{objeto.autor}}
		Última alteração: {{ objeto.atualizado }}
	</small>
	<br>
	{% if objeto.capa %}
	<img src="{{objeto.capa.url }}" alt=" " class="img-responsive" height="50%">
	{% endif %}
	<div class="content-markdown">{{ objeto.conteudo }}</div>
</div>
{% include "utils/social.html" %}

{% endblock content %}
