<!-- Em breve -->
{% extends "base.html"%}

{% block head_title %} {{block.super}} {% endblock head_title %}

{% block content %}
<div class="form-card">
	<form class="form-group" method="POST" action='' enctype="multipart/form-data">{% csrf_token %}
		<h1>CRIAR CONTA</h1>
		{{formulario.as_p}}
		<input class="btn btn-outline-primary" type="submit" value="CRIAR CONTA">
		<input class="btn btn-outline-danger" type="submit" value="CANCELAR">
		<small><a href="#">Login</a></small>
	</form>
</div>
{% endblock content %}

