{% extends "base.html"%}

{% block head_title %} {{block.super}} {% endblock head_title %}
{% load staticfiles %}

{% block content %}

<h1>
	{{ titulo }}
</h1>


<div id="container" class="container">
	{% for objeto in lista %}
	<div class="col-sm-6">
		<div class="thumbnail">
			{% if objeto.capa %}
			<img src="{{objeto.capa.url }}" alt=" " class="img-responsive" width="100%" height="">
			{% endif %}
			<div class="caption">
				<a href="\posts/{{objeto.slug}}/"><h5 class="card-title">{{objeto.titulo}}</h5></a>
				<p class="card-text">{{objeto.conteudo|truncatechars:150}}</p>
			</div>
		</div>
		<div class="card-footer">
			<small class="text-muted">
				autor: {{objeto.autor}} <br>
				Ultima atualização há {{objeto.atualizado|timesince}} <br>
				Data de publicação: {{objeto.publicar_em}} <br>
				{% if objeto.rascunho %}
					Salvo como rascunho
				{% endif %}
			</small>
		</div>
		<br>
	</div>
	{% endfor %}
</div>

<div class="pagination">
	<span class="step-links">
		{% if lista.has_previous %}
			<a href="?pag=1">&laquo; Primeira </a>
			<a href="?pag={{ lista.previous_page_number }}">Anterior</a>
		{% endif %}

        <span class="current">
            Página {{ lista.number }} de {{ lista.paginator.num_pages }}.
        </span>

		{% if lista.has_next %}
			<a href="?pag={{ lista.next_page_number }}">Próxima</a>
			<a href="?pag={{ lista.paginator.num_pages }}">Última &raquo;</a>
		{% endif %}
	</span>
</div>

{% endblock content %}