{% extends "base.html"%}

{% block head_title %} {{block.super}} {% endblock head_title %}

{% block content %}
<div class="col-sm-offset-1">
	<h1 id="titulo">
		{{ titulo }}
	</h1>
	<small>
		Autor: {{objeto.autor}}
		Última alteração: {{ objeto.atualizado }}
	</small>
	<br><br>
	<h5 id="sub_titulo">
		{{ objeto.sub_titulo }}
	</h5>
	{% if objeto.capa %}
	<img src="{{objeto.capa.url }}" alt=" " class="img-responsive" height="50%">
	{% endif %}
	<div class="content-markdown">{{ objeto.conteudo }}</div>

	<a class="btn btn-outline-dark" href="/posts">Home</a>
	<a class="btn btn-outline-primary" href="\posts/{{objeto.slug}}/edit/">Edit</a>
	<a class="btn btn-outline-danger" href="\posts/{{objeto.slug}}/delete/">Delete</a>
</div>

<div id="info">
	<br><br>
	<h2>Data de publicação: {{objeto.data_lancamento}}</h2>
	{% if objeto.rascunho %}
	<h3>Salvo como rascunho</h3>
	{% endif %}
</div>
{% endblock content %}
